.logo-samir{
    font-size: 30px;
}

.resume-btn{
    border: 2px solid #00cf5d !important;
    padding: 5px;
    border-radius: 5px;
}
.nav-item a{
    border-bottom: 2px solid transparent;
    
    }
.nav-item a:hover{
border-bottom: 2px solid #00cf5d;

}